
<footer class="section footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-12">
                <p>
                    <ul class="footer-share">
                        <li><a href="#"><i class="fa fa-trophy fa-5x"></i></a></li>
                        <li><a href="#"><i class="fa fa-trophy fa-4x"></i></a></li>
                        <li><a href="#"><i class="fa fa-trophy fa-3x"></i></a></li>
                        <li><a href="#"><i class="fa fa-trophy fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-trophy fa-3x"></i></a></li>
                        <li><a href="#"><i class="fa fa-trophy fa-4x"></i></a></li>
                        <li><a href="#"><i class="fa fa-trophy fa-5x"></i></a></li>
                    </ul>
                </p>

                <p>&copy; @DateTime.Now.Year - Nobel Prize</p><br>
                <p style="color:black">
                    Made with <i class="fa fa-heart pulse"></i> by <a href="">tsormang</a>
                </p>
            </div>
        </div>
    </div>
</footer>