
<!-- header section -->
<section class="banner" role="banner">
    <!--header navigation -->
    <header id="header">
        <div class="header-content clearfix">
            <h2>
                <a title="Nobel" href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" /><span style="opacity:0;">_</span> The Nobel Prize API</a>        
            </h2>

            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    @*<li>@Html.ActionLink("Planets", "Index", "Planet")</li>*@
                    <li><a href="#footer">go to end</a></li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
    <!--header navigation -->
    <!-- banner text -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="banner-text text-right">
                <h1>Nobel Prize Winners</h1>
                <p>find any Nobel Prize Winner</p>
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                    <nav role="navigation"> <a href="#chat" class="banner-btn"><img src="images/down-arrow.png" alt=""></a></nav>
                </div>
            </div>
            <!-- banner text -->
        </div>
    </div>
</section>
<!-- header section -->
